/*------------nav bar-------------*/

*{
    margin:0;
    padding:0;
    font-family: 'poppinns', sans-serif ;
    box-sizing: border-box;

}
body{
    background: #080808;

    color: #fff;

    max-width: 100%;
   
}

div{
    background: #080808;
    color: #fff;
    padding: 10px;
}

div.container {

    margin: 0;

    padding-left: 50px;

}

.logo{
    width: 45px;

    border-radius: 8px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}


nav ul li{
    display: inline-block;

    list-style: none;

    margin: 10px 20px;

    padding-top:20px;

}

nav ul li a{

    color: #caae0c;

    text-decoration: none;

    font-size: 18px;

    position: relative;

}

nav ul li a::after{

    content: '';

    width: 0;
    
    height: 3px;
    
    background: #032977;
    
    position: absolute;
    
    left: 0;
    
    bottom: -6px;
    
    transition: 0.5s;

}

nav ul li a:hover::after{

    width: 100%;

}

div.header-text{
    
    align-items: center;

    font-size:30px;

    height: 100vh;

    padding-top: 60%;    
}

div a{
    color:#caae0c;
}
div a:hover{
    color:#032977;
}

#header{
    width: 100%;
    /* background-image: url(images/pfp_mobile.png);
    background-size: cover;
    background-position: center; */
}

.header-text {

    font-size: 30px;

}
.header-text h1{

    font-size: 60px;

}

.header-text h1 span{

    color:#caae0c;

    font-size: 80px;

    }

    /* -----------about---------- */

    #about {

        position:relative;

        height: auto;


    }

    .row {

        display:flex;

        justify-content: space-between;

        flex-wrap:wrap;

    }

    .about-col-1 {

        flex-basis: 35%;
    }

    .about-col-2 {

        flex-basis: 50%;
    }

    .sub-title {

        font-size: 60px;

        font-weight: 600;

        color:#ffff;

    }

    .about-col-1 p {

        line-height: 2;
    }


/* -------------experience---------- */



    .tab-contents  ul li {
        list-style: none;

        justify-content:space-between;

        margin: 10px 0;


    }   
    

    .tab-contents ul li span{

        color:#caae0c;

        font-size: 14px;
    }

    .tab-contents {

        display: none;

        padding-left: 22px;

        padding-right: 6%;
    }

    .tab-contents.active-tab {

        display: block;


    }
    .tab-titles {

        display: flex;

        margin: 20px 0 30px;

        padding-left: 55px;

        
    }

    .tab-links {

        margin-right: 50px;

        font-size:  18px;

        font-weight: 500;

        position: relative;

        cursor: pointer;
    }

    .tab-links.active-link::after {

        width: 75%;

    }

    .tab-links::after {

        content: '';

        width: 0;

        height: 3px;

         background: #caae0c;

         position: absolute;

         left: 0;

         bottom: -8px;

         transition: 0.5s;
    }

    

    /*-----------Services Section-------*/

.services {

    height: auto;

}
section {

    background-color: #080808;


}

.sub-title h1 {

        font-size: 60px;

        font-weight: 600;

        color:#ffff;

        padding-left: 6%;

        padding-top: 10%;

}


.services-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 20px;

    padding: 65px;

    box-sizing: border-box;
}



.services-item, .services-item1, .services-item2 {

    background-color: #caae0c;

    color: #0A2540;

    padding: 40px;

    border-radius: 8px;

    font-weight: bold;

    height: auto;

    width: 100%;

    max-width: 400px;

    margin: 0 auto;



}

.services-item a {

    color: #555;

}

.services-item1 a {

    color: #555;

}
.services-item2 a {

    color: #555;
}

.services-item i, .services-item1 i, .services-item2 i {

    font-size: 60px;

    padding-bottom: 15px;

}

.services-item a:hover {

    color: #0A2540;

}

.services-item1 a:hover {

    color: #0A2540;

}

.services-item2 a:hover {

    color: #0A2540;

}




    /* -------------user stories----------- */

    .carousel.slide {

        display:flex;

        width: 75%;

        margin: 2em;

        height: 50vh;  

        padding-top: 15%;

        padding-left: 20%;

        justify-items:center;

        background-color: #fff;

    }

    .carousel-item {

        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

        height: 150;

        text-align: center;

        padding: 20px;

        margin-right: 0;

        float: none;


    }

    .carousel-inner {

        background-color: #fff;

    }

    .carousel-item p {

        font-size: 1.1rem;

        color:#0A2540;
        
    }

    .carousel-item small {

        font-size: 0.9rem;

        color: #102D5B;

        font-weight: bold;
    }
    
    

    .carousel-item .active, .carousel-item {

        padding: 10px 10px;

        background-color:#caae0c;

        border-radius: 8px;

        justify-content: center;

        color:#0A2540;

        font-style: bold;


    }

    .button {

        display: flex;

        justify-content:space-between;

        padding: 10px;

    }

    .buttons button {

        border: none;

        color:#032977;

        background-color: #080808;

    }

    .buttons button:hover {

        color:#fff;
    }

    .carousel-control-prev, .carousel-control-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {

        height: 40px;

        width: 40px;
    }

    /* -----------contact me--------- */


.contact {

    text-align: center;

    height: 80vh;  

    padding-top: 2%; 

    background-color: #fff;

}



.contact h1 {


    color: #FFD700;

    font-size: 60px;

    font-weight: 600;
    
}

.contact form {

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 15px;

    max-width: 400px;

    margin: auto;
    
    padding-top: 6%;

}



.contact input, .contact textarea {

    width: 100%;

    padding: 10px;

    border: 2px solid #FFD700;

    border-radius: 5px;

    background: #102D5B;

    color: #fff;

}



.contact button {

    padding: 10px 20px;

    border: none;

    background-color: #FFD700;

    color: #0A2540;

    font-weight: bold;

    border-radius: 5px;

    cursor: pointer;

}

.contact ul li {

    padding-top: 20px;

    list-style: none;

    line-height: 1.5;

}

/*-------------Footer -----------------*/

.footer {

    text-align: center;

    height: 5vh;   

    background-color: #102D5B;

    color: #FFD700;

}

/* ---------- for small screen-------- */
nav .fas{
    display: none;
    color:#032977;
}

@media only screen and (max-width: 600px){

    .header-text{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
nav ul{
    background-color: #caae0c;
    position:fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 5px;
    z-index: 4;
    transition: right 0.5s;
}
 nav ul li{
    display: block;
    margin: 25px;
 }
 nav ul .fas{
    position: absolute;
    top: 25px;
    right: 25px;
 }

 nav ul li a{
    color: #032977;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.tab-titles {

    display: flex;

    margin: 20px 0 30px;

    padding-top: 40%;

}

.row {

    justify-content: center;

}

.about-col-1 {

    text-align: center;

    flex-basis: 80%;
}

.about-col-1 p {

    line-height: 2;

}

.sub-title  {


    padding-bottom:10%;

}

.services {

    height:auto;

    margin:0;
}
}