/*------------nav bar-------------*/

*{
    margin:0;
    padding:0;
    font-family: 'poppinns', sans-serif ;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}

div{
    background: #080808;
    color: #fff;
    padding: 10px;
}
#header{
    width: 100%;
    height: 50vh;
    /* background-image: url(images/pfp_mobile.png);
    background-size: cover;
    background-position: center; */
}

.logo{
    width: 45px;
    border-radius: 25%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding-top:20px;
}

nav ul li a{
    color: #caae0c;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{

    content: '';

    width: 0;
    
    height: 3px;
    
    background: #032977;
    
    position: absolute;
    
    left: 0;
    
    bottom: -6px;
    
    transition: 0.5s;

}

nav ul li a:hover::after{

    width: 100%;

}

.header-text{

    font-size:30px;

    height:50vh;
    
}

.header-text h1{

    font-size: 30px;

}

.header-text h1 span{

    color:#caae0c;

    font-size: 50px;

    }

    /* ------------experience---------- */

    div ul li span{

        color:#caae0c;
    }

    #tab-titles p {

        color:#caae0c;
    }

    /*-----------Services Section-------*/

.services {

    text-align: center;

}



.services h1 {

    font-size: 2rem;

    color: #FFD700;

    margin-bottom: 20px;

}


.services-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;

}

div a{
    color:#caae0c;
}
div a:hover{
    color:#032977;
}



.services-item {

    background-color: #caae0c;

    color: #0A2540;

    padding: 40px;

    border-radius: 8px;

    font-weight: bold;

}

    /* -----------about---------- */
    #about {
        height: 50vh;
    }
    div  ul li{
        list-style: none;

        justify-content:space-between;
    }
    

    /* -------------user stories----------- */


    .carousel-content {

        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

        height: 300px;

        text-align: center;

        padding: 20px;

    }

    .carousel-content h5 {

        font-size: 1.1rem;

        color:#555;
    }

    .carousel-content p {

        font-size: 1.1rem;

        color:#555;
    }

    .carousel-content small {
        font-size: 0.9rem;
        color:#888;
    }
    
    .carousel-container h2 {

        color:#caae0c;

        text-align: center;

    }

    .carousel-item-active, .carousel-item {

        width: 400px;

        padding: 10px 10px;

        background-color:#caae0c;

        border-radius: 8px;

        justify-content: center;

        color:#0A2540;

        font-style: bold;

        
    }

    .button {

        display: flex;

        justify-content:space-between;

        padding: 10px;

    }

    .buttons button {

        border: none;

        color:#032977;

        background-color: #080808;

        font-size:xx-large;

    }

    .buttons button:hover {

        color:#fff;
    }
    /* -----------contact me--------- */


.contact {

    padding: 60px 20px;

    text-align: center;

}



.contact h3 {

    font-size: 2rem;

    color: #FFD700;

    margin-bottom: 20px;

}



.contact form {

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 15px;

    max-width: 400px;

    margin: auto;

}



.contact input, .contact textarea {

    width: 100%;

    padding: 10px;

    border: 2px solid #FFD700;

    border-radius: 5px;

    background: #102D5B;

    color: #fff;

}



.contact button {

    padding: 10px 20px;

    border: none;

    background-color: #FFD700;

    color: #0A2540;

    font-weight: bold;

    border-radius: 5px;

    cursor: pointer;

}

.contact ul li {

    list-style: none;
}

/* Footer */

.footer {

    text-align: center;

    padding: 20px ;

    background-color: #102D5B;

    color: #FFD700;

}

    /* -----------css for small screen-------- */
nav .fas{
    display: none;
    color:#032977;
}

@media only screen and (max-width: 600px){
    .header-text{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
nav ul{
    background-color: #caae0c;
    position:fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 5px;
    z-index: 2;
    transition: right 0.5s;
}
 nav ul li{
    display: block;
    margin: 25px;
 }
 nav ul .fas{
    position: absolute;
    top: 25px;
    right: 25px;
 }

 nav ul li a{
    color: #032977;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
}